<ion-header>
    <ion-toolbar>
        <ion-title>
            Setup
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-input [(ngModel)]="grounds" [placeholder]="'Enter Coffee Grounds (g)'"></ion-input>
        <ion-label *ngIf="grounds">g Coffee</ion-label>
    </ion-item>
    <ion-item *ngIf="grounds">
        <ion-range min="12" max="18" snaps="true" step="1" color="secondary" [(ngModel)]="ratio">
            <ion-label slot="start">1/12</ion-label>
            <ion-label slot="end">1/18</ion-label>
        </ion-range>
    </ion-item>
    <ion-item *ngIf="grounds">Selected Ratio: 1g Coffee / {{ratio}}g Water</ion-item>
    <ion-item *ngIf="grounds">
        <ion-grid *ngIf="grounds && ratio">
            <ion-row>
                <ion-col>Bloom</ion-col>
                <ion-col>{{grounds * 2}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col>1st Pour</ion-col>
                <ion-col>{{(grounds * (ratio)) / 4}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col>2nd Pour</ion-col>
                <ion-col>{{((grounds * (ratio)) / 4) * 2}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col>3rd Pour</ion-col>
                <ion-col>{{((grounds * (ratio)) / 4) * 3}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col>4th Pour</ion-col>
                <ion-col>{{(grounds * (ratio))}}</ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>
</ion-content>
